<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Томский областной театр драмы</title>
    <link rel="stylesheet" href="../../static/css/place-detail.css">
</head>
<body>
    <header class="header">
        <div class="header-logo">Томск</div>
        <nav>
            <ul class="header-nav">
                <li><a href="index.html">О городе</a></li>
                <li><a href="celebrites.html">Знаменитости</a></li>
                <li><a href="place.html">Достопримечательности</a></li>

            </ul>
        </nav>
    </header>

    <main class="page-content">
        <div class="page-header">
            <h1 class="page-title">Достопримечательности <strong>Томска</strong></h1>
        </div>
        
        <div class="place-detail">
            <div class="place-card">
                <div class="place-image-wrapper">
                    <img src="../../static/images/theatre.png" alt="Театр Драмы" class="place-image">
                </div>
                <div class="place-card-body">
                    <span class="place-category">Первый университет в Сибири</span>
                    <h2 class="place-name">Томский областной театр драмы</h2>
                </div>
            </div>
            
            <div class="place-info">
                <h1 class="place-years"><strong>Томский областной театр драмы</strong></h2>
                
                <div class="place-bio">
                    <p>Здание: Расположено в историческом центре, само здание театра является памятником архитектуры.</p>
                    
                    <p>Репертуар: Один из ведущих драматических театров Сибири, известный сильной труппой и разнообразным репертуаром — от классики до современных экспериментальных постановок.</p>
                    
                    <p>Атмосфера: Театр является важным культурным центром города, где регулярно проходят фестивали и премьеры.</p>
                </div>
                
                <a href="place.html" class="back-button">
                    <svg viewBox="0 0 24 24">
                        <path d="M19 12H5M12 19l-7-7 7-7"/>
                    </svg>
                    К списку
                </a>
            </div>
        </div>
    </main>
    
    <footer class="footer">
        <p>© 2025 Сайт-визитка города Томска</p>
    </footer>
</body>
</html>